<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- css -->
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
	rel="stylesheet"
	integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous" />
<link rel="stylesheet" th:href="@{/css/mercari.css}" />
<title>商品一覧表示</title>
</head>
<body>
	<!-- navbar -->
	<nav class="navbar navbar-inverse">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" th:href="@{/list}">Rakus Items</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<div>
				<ul class="nav navbar-nav navbar-right">
					<li><a id="login" th:href="@{/login-logout/toLogin}"
						th:if="${session.userName} == null">Login <i
							class="fa fa-power-off"></i></a></li>
					<li><a id="logout" th:href="@{/login-logout/logout}">Logout
							<i class="fa fa-power-off"></i>
					</a></li>
				</ul>
				<p class="navbar-text navbar-right">
					<span id="loginName" th:text="${session.userName}">userName</span>welcome!
				</p>
			</div>
		</div>
	</nav>

	<div id="main" class="container-fluid">
		<!-- addItem link -->
		<div id="addItemButton">
			<a class="btn btn-default" th:href="@{/add}"><i
				class="fa fa-plus-square-o"></i> Add New Item</a>
		</div>

		<!-- 検索フォーム -->
		<div id="forms">
			<form th:action="@{/list}" class="form-inline" role="form"
				th:object="${searchItemForm}">
				<div class="form-group">
					<input type="input" class="form-control" id="name"
						placeholder="item name" name="name"
						th:value="${session.form.name}" />
				</div>
				<div class="form-group">
					<i class="fa fa-plus"></i>
				</div>
				<div class="form-group">
					<!-- ParentCategory -->
					<select class="form-control" id="parent-id" name="parentId">
						<option value="-1">- parentCategory -</option>
						<option th:each="parentCategory : ${parentCategoryList}"
							th:text="${parentCategory.name}" th:value="${parentCategory.id}"
							th:selected="${parentCategory.id} == ${session.form.parentId}">parentCategoryList</option>
					</select>
					<!-- ChildCategory -->
					<select class="form-control" id="child-id" name="childId">
						<option value="-1">- childCategory -</option>
						<option th:if="${childCategoryList}"
							th:each="childCategory : ${childCategoryList}"
							th:text="${childCategory.name}" th:value="${childCategory.id}"
							th:selected="${childCategory.id} == ${session.form.childId}">childCategoryList</option>
					</select>
					<!-- GrandChildCategory -->
					<select class="form-control" id="grand-child-id"
						name="grandChildId">
						<option value="-1">- grandChildCategory -</option>
						<option th:if="${grandChildCategoryList}"
							th:each="grandChildCategory : ${grandChildCategoryList}"
							th:text="${grandChildCategory.name}"
							th:value="${grandChildCategory.id}"
							th:selected="${grandChildCategory.id} == ${session.form.grandChildId}">grandChildCategoryList</option>
					</select>
				</div>
				<div class="form-group">
					<i class="fa fa-plus"></i>
				</div>
				<div class="form-group">
					<input type="text" id="brand" class="form-control"
						placeholder="brand" name="brand" th:value="${session.form.brand}" />
				</div>
				<div class="form-group"></div>
				<button type="submit" class="btn btn-default">
					<i class="fa fa-angle-double-right"></i> search
				</button>
				<div th:unless="${errorMessage==null}" th:text="${errorMessage}"
					class="alert alert-danger"></div>
			</form>
		</div>

		<!-- pagination -->
		<div class="pages">
			<nav class="page-nav">
				<ul class="pager">
					<li class="previous" th:if="${session.page} > 1"><a
						th:href="@{'/list/prev-next?page=' + ${session.page - 1}}">&larr;
							prev</a></li>
					<li class="next" th:if="${session.page} < ${totalPage}"><a
						th:href="@{'/list/prev-next?page=' + ${session.page + 1}}">next
							&rarr;</a></li>
				</ul>
			</nav>
		</div>

		<!-- table -->
		<div class="table-responsive">
			<table id="item-table" class="table table-hover table-condensed">
				<thead>
					<tr>
						<th>name</th>
						<th>price</th>
						<th>category</th>
						<th>brand</th>
						<th>condition</th>
					</tr>
				</thead>
				<tbody id="item-table-main" th:each="item : ${itemList}">
					<tr>
						<td class="item-name"><a
							th:href="@{'/detail?itemId='} + ${item.itemId} "
							th:text="${item.name}">item_name</a></td>
						<td class="item-price"
							th:text="${#numbers.formatDecimal(item.price,1,1,'POINT')}">price</td>
						<td class="item-category"><span
							th:each="category,status : ${item.categoryList}"> <a
								th:text="${category.name}"
								th:href="@{'/detail?itemId='} + ${item.itemId}">category</a> <span
								th:unless="${status.last}"> / </span>
						</span></td>
						<td class="item-brand"><a th:text="${item.brand}"
							th:href="@{'/detail?itemId='} + ${item.itemId}">brand</a></td>
						<td class="item-condition" th:text="${item.condition}">condition</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- pagination -->
		<div class="pages">
			<nav class="page-nav">
				<ul class="pager">
					<li class="previous" th:if="${session.page} > 1"><a
						th:href="@{'/list/prev-next?page=' + ${session.page - 1}}">&larr;
							prev</a></li>

					<li class="next" th:if="${session.page} < ${totalPage}"><a
						th:href="@{'/list/prev-next?page=' + ${session.page + 1}}">next
							&rarr;</a></li>
				</ul>
			</nav>
		</div>
		<!-- ページ番号を指定して表示するフォーム -->
		<div id="select-page">
			<form class="form-inline" th:action="@{/list/jump}">
				<div class="form-group">
					<div class="input-group col-xs-6">
						<label></label> <input type="text" class="form-control"
							name="page" th:value="${session.page}" id="this-page" />
						<!-- 総ページ数 -->
						<input type="hidden" name="totalPage" th:value="${totalPage}">
						<div class="input-group-addon" th:text=" '/' + ${totalPage}"
							id="total-page">/ ページ総数</div>
					</div>
					<div class="input-group col-xs-1">
						<button type="submit" class="btn btn-default">Go</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- script -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
	<script th:src="@{/js/show_categories.js}"></script>
	<script th:src="@{/js/view.js}"></script>
</body>
</html>